.parent {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 -10px;
    justify-content: space-evenly;
}

.flex {
    display: flex;

}

.alignItems{
    align-items: center;
}

.mLeft11{
    margin-left: 11px;
    cursor: default;
}

.mLeft900{
    margin-left: 900px;
}


.w-Logo {
    width: 37px;
}

.child {
    display: inline-block;
    margin: 10px 0 0 10px;
}

p {
    margin: 0;
    color: white;
}

#title {
    margin: 10px 0 0 0;
}

#release {
    margin: 0 0 0 10px;
}


body {
    background: black;
}


.scale {
    transition: .2s ease;
}

.scale:hover {
    opacity: 0.4;
    transform: scale(1.05);
    cursor: pointer;
}




