p{
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 -10px;
    justify-content: space-evenly;
}

.flex {
    display: flex;
}

.alignItems{
    align-items: center;
}
.jstContent{
    justify-content: center;
}

.mLeft11{
    margin-left: 11px;
    cursor: default;
}

.mLeft900{
    margin-left: 900px;
}

.mTop200{
    margin-top: 100px;
}


.w-Logo {
    width: 37px;
}

.width500 {
    width: 500px;
}
.width400 {
    width: 400px;
}


.child {
    display: inline-block;
    margin: 0 0 0 10px;
}
.mBot10{
    margin-bottom: 10px;
}
.mLeft10{
    margin-left: 10px;
}
.mBot40{
    margin-bottom: 40px;
}
.mTop20{
    margin-top: 20px;
}

.white{
    color: white;
}

.scale {
    transition: .2s ease;
}

.scale:hover {
    opacity: 0.4;
    transform: scale(1.05);
    cursor: pointer;
}




