.parent {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 -10px;
    justify-content: space-evenly;

}

.child {
    display: inline-block;
    margin: 10px 0 0 10px;
}

p {
    margin: 0;
    color: white;
}

#title{
    margin: 10px 0 0 0;
}
#release{
    margin: 0 0 0 10px;
}


body {
    background: black;
}


.scale {
    transition: .2s ease;
}

.scale:hover {
    opacity: 0.4;
    transform: scale(1.05);
    cursor: pointer;
}




