.parent {
    display: flex;
    flex-wrap:wrap;
    margin:-10px 0 0 -10px;
}
.child {
    display: inline-block;
    margin:10px 0 0 10px;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px)
}
